<div class="row">
  <div class="col">
    <h1> Current articles</h1>
  </div>
</div>

  {{#each articles}}
       <div class="card w-75">
          <div class="card-body">
            <p class="card-title" data-id={{this._id}}><strong>{{this.title}}</strong></p>
            <p class="card-text">{{this.summary}}</p>
            <p class="card-text"><a href={{this.link}}>{{this.link}}</a></p>
            <p class="data-Save" data-id={{this._id}}><a href="#" class="btn btn-primary">Save Article</a></p>
          </div>
        </div>
  {{/each}}
